# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Baptiste Buvron\Documents\Dut Informatique\S2\Informatique\Projet POO_COO\Projet_Donjon\code\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
